* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', 'open sans', sans-serif;
    }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://giffiles.alphacoders.com/157/15701.gif');
    background-size: cover;
}

/*=== NAV BAR ===*/
.navbar {
  height: 60px;
  padding: 0 15px;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1500;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.hamburger {
  width: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 1500;    
  position: relative;
}

.hamburger span {
  height: 3px;
  width: 90%;
  background: #fff;
  border-radius: 3px;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: -100%;
  width: 100%;
  height: calc(100vh - 60px);
  background: #fff;
  transition: 0.4s ease;
  z-index: 1500;
}

.sidebar.active {
  left: 0;
}

.close-btn {
  position: absolute;
  top: -60px;  
  right: 10px;
  font-size: 32px;
  cursor: pointer;
  padding: 5px 15px;
  color: #fff;
  background: #000;
  z-index: 2000;
}

.sidebar a {
  display: block;
  padding: 18px 22px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background: #000;    
  border-bottom: 1px solid #555;
}

.sidebar a:hover {
  background: #555;
}


/*=== HOME IMG ===*/
.live-img {
      height: auto;
      width: 100%;
      position: fixed;
      top: 30px;
      box-shadow:  0 0 0 4px black, 0 80px 90px black;
}

/*=== SEARCH ===*/
  .box {
    position: fixed;
    width: 95%;
    max-width: 420px;
    background: white;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    box-shadow: 0 0 0 3px black, 0 0 56px #008bff;
    z-index: 999;    
  }

  input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 600;    
    font-family: 'open sans';
  }
  button {
    border: none;
    background: #4285f4;
    padding: 0 30px;
    color: white;
    font-size: 16px;
    border: 1px solid black;    
    border-radius: 30px;
  }
   
/*=== SLIDER ===*/
.carousel {
      position: fixed;
      bottom: 14%;
      margin: 0 auto;
      width: 95%;
      overflow: hidden;
      border-radius: 10px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    height: 199px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
    color: white;
    font-size: 2rem;
}

.carousel-container img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

  /*=== FOOTER ===*/
  .footer {
      position: fixed;
      font-size: 0.8rem;
      bottom: 20px;
      text-align: center;
      color: #bbb;
    }